<h1>Editing product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Show this product", @product, class: "lk-boz" %> |
  <%= link_to "Back to products", products_path,class: "lk-boz" %>
</div>
